[config]

# This is PEPA2 config file

# PEPA waits until a number of writers are connected 
# before it initiates the SHVA connection.
# The "readers" defines how many of these connection should be established
# before the SHVA connection is etablished.
# NOTE: These connections are "readers" for PEPA, but for FinitiONE they are "writers"
#
# Number of IN connections (readers)

readers = 4

# Should PEPA add its unique ID to every transferred buffer?
# The possible value is "true" or "false"
# If it is "true", the PEPA's ID will be added to every buffer

id = 1

# If "id" == true, this value is used as PEPA ID

id_val = 0X1E1A1E1A


# Should PEPA add a random ID to every transfered buffer?
# The possible value is "true" or "false"
# If it is "true", a randomly generated number (a "ticket")
# will be added to every packet

ticket = 1


